body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.music {
  margin: 70px;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.205);
  border-radius: 8px;
}

.image {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.image-thumb {
    width: 230px;
    height: 250px;
    border-radius: 50%;
}

.singer-name {
    color: red;
    text-align: center;
    font-size: 20px;
}

.song-name {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, serif;
    color: #4f4f4f;
    font-style: italic;
}

.progress {
    width: 100%;
    margin-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
    box-sizing: border-box;
}

#progress-music {
    width: 100%;
    appearance: none;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

#progress-music::-webkit-slider-runnable-track {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.128);
    border: white;
    border-radius: 20px;
    height: 7px;
    appearance: none;
}

#progress-music::-webkit-slider-thumb {
    appearance: none;
    width: 7px;
    height: 7px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.777);
    border-radius: 60%;
    box-shadow: -407px 0 0 400px #33dcff;
}

.progress-time {
    box-sizing: border-box;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}

.action {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
}

.cusor-pointer {
    cursor: pointer;
}